<%- include('../header',{title:'Catalog'}); %>
<main class="container max-w-4xl mx-auto">
  <div id="wrapper" class="mt-8">
    <h1 class="text-2xl font-bold text-gray-600">Books Catalog</h1>
    <ul class="mt-6">
      <li class="flex items-center w-40 justify-between">
        <strong>Books:</strong><%= bookcount %>
      </li>
      <li class="flex items-center w-40 justify-between">
        <strong>Copies:</strong><%= bookinstancecount %>
      </li>
      <li class="flex items-center w-40 justify-between">
        <strong>Copies Available:</strong><%= bookavailable %>
      </li>
      <li class="flex items-center w-40 justify-between">
        <strong>Author:</strong><%= authorcount %>
      </li>
      <li class="flex items-center w-40 justify-between">
        <strong>Genres:</strong><%= genrecount %>
      </li>
    </ul>
  </div>
</main>
<%- include('../footer'); %>
